<label for="term">Track Tweets containing</label>
<input type="text" id="term" name="term" [(ngModel)]="term" placeholder="search term" required>
<button (click)="setSearchTerm(term)">Search</button>
<div class="container">
  <div id="scatterplot">
    <md-card>
      <scatterplot-component [twitterState]="twitterState"></scatterplot-component>
    </md-card>
  </div>
  <div id="map">
    <md-card>
      <map-component [twitterState]="twitterState"></map-component>
    </md-card>
  </div>
</div>
<tweet-component [twitterState]="twitterState"></tweet-component>
